{% extends 'admin/a-base.html' %}
{% block content %}

 <div id="context1">
   <div class="ui secondary menu">
     <a class="item " data-tab="home">Home</a>
     <a class="item active" data-tab="company">Company</a>
     <a class="item" data-tab="community">Community</a>
   </div>
   <div class="ui tab segment active" data-tab="home">
     <div class="ui top attached tabular menu">
       <a class="active item" data-tab="home/a">Our Technology</a>
       <a class="item" data-tab="home/b">파트너</a>
       
     </div>


     <div class="ui bottom attached tab segment" data-tab="home/a">1A</div>
     <div class="ui bottom attached tab segment" data-tab="home/b">1B</div>
     <div class="ui bottom attached tab segment" data-tab="home/c">1C</div>
   </div>
   <div class="ui tab segment" data-tab="company">
     <div class="ui top attached tabular menu">
       <a class="item " data-tab="company/a">연혁 Journey</a>
       <a class="item active" data-tab="company/b">Leaders</a>
       <!-- <a class="item" data-tab="company/c"></a> -->
     </div>
     <div class="ui bottom attached tab segment " data-tab="company/a">2A</div>
     <div class="ui bottom attached tab segment active" data-tab="company/b">

      <table class="ui teal table">
         <thead>
           <tr><th>영문 이름</th>
           <th>직책/직위</th>
           <th>이력</th>
           <th><em data-emoji=":pencil:" class="small"></em></th>
           <th><em data-emoji=":put_litter_in_its_place:" class="small"></em></th>
         </tr></thead><tbody>

            {% for s in data %}
            {% if s.category == 'companyLeader' %}

           <tr>
             <td>{{ s.name }}</td>
             <td>{{ s.title| striptags(true) | escape | nl2br }}</td>
             <td>{{ s.content | striptags(true) | escape | nl2br}}</td>
             <td><a href = '/edit/{{ s.id }}'><i class="pencil alternate icon text-info "></i></a></td>
             <td><a href = '/delete/{{ s.id }}'><i class="trash alternate icon text-info "></i></a></td>
           </tr>
           {% endif %}
           {% endfor %}
          
         </tbody>
       </table>


      
     </div>
     <!-- <div class="ui bottom attached tab segment" data-tab="company/c">2C</div> -->
   </div>
   <div class="ui tab segment" data-tab="community">
     <div class="ui top attached tabular menu">
       <a class="item" data-tab="community/a">news</a>
       <a class="item" data-tab="community/b">investment</a>
       
     </div>
     <div class="ui bottom attached tab segment" data-tab="community/a">3A</div>
     <div class="ui bottom attached tab segment" data-tab="community/b">3B</div>
     
   </div>
 </div>



{% endblock %}

