{% extends 'base.html' %}
{% block content %}
<style>
  .prosCard{
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8FF 100%), linear-gradient(180deg, rgba(90, 84, 245, 0.2) 0%, rgba(230, 85, 213, 0.12) 52.08%, rgba(251, 118, 118, 0.04) 87.5%, rgba(255, 255, 255, 0) 100%), #FFFFFF;

  }
</style>

<img src="/img/3.1/1.png" class = 'w-100 masthead'>

<div class="rounded-1 shadow-lg Title_1 Gray_1 col-7  p-md-5 card mx-auto border-0 text-center" style="backdrop-filter: blur(14px);background: rgba(255, 255, 255, 0.2);">
  {% block x1 %} Better AI를 위한 데이터 합성 솔루션 {% endblock %}<br>
  <br>
  empowers super-realistic,
  biologically-meaningful synthetic data.
</div>

<div class="text-center" style="margin-top:9vh">
  <a id="" href="#tech" class="border-0 bg-transparent mb-5 fs-1 text-gray"><img src="/img/icon/06 arrow-down.png"
      alt="ArrowCNAI" class="btn-sm-1"></a>
</div>

<div class="row" id="tech" style="margin-top: 26vh;">
  <div class="text-center Gray_2 SubTitle_1 pb-5 mb-5" id="down">Our Technology </div>
</div>

<p class="fw-bold" style="
  font-family: 'MADE TOMMY'; 
  font-size: 60px;  
   
  text-align: center;
  
  background: linear-gradient(90deg, #5A54F5 22.03%, rgba(230, 85, 213, 0.8) 57.36%, rgba(251, 118, 118, 0.4) 82.46%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;">Synthetic Data
</p>

<img src="/img/3.1/2.png" class = 'w-100 '>


  <div class=" p-0" style="background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, rgba(219, 255, 255, 0) 0%, rgba(219, 255, 255, 0.2) 100%, rgba(219, 255, 255, 0.2) 100%), linear-gradient(270deg, rgba(213, 210, 249, 0) 0%, #D5D2F9 103.49%), linear-gradient(147.1deg, rgba(213, 210, 249, 0.2) 5.67%, rgba(213, 210, 249, 0) 52.89%), #F8F8FF;">
    <section class='offset-md-2'>
      <p class='Title_2 my-5 Gray_2 py-5'>  {% block x2 %}데이터 공급이 어려웠던 다양한 분야에 <br />0
        AI를 위한 고품질의 데이터를 무한 공급할 수 있습니다.{% endblock %}</p>
      <div class="swiper mySwiper mb-3" style="height: 50vh;">
        <div class="swiper-wrapper">
          {% for i in range(1,4) %}

          <div class="swiper-slide shadow-sm">
            <div class="card border-0 prosCard w-100 p-4">
              <div class="card-body">
                <p class="Title_1_eng t-blue300">{{ say1[i]['num'] }}</p>
                <p class="Title_1 Gray_1">{{ say1[i]['title'] }}</p>
              </div>
              <div class="card-footer mt-auto bg-transparent border-0 Gray_0 Body_1 lh-lg">{{ say1[i]['description'] }}</div>
            </div>
          </div>

          {% endfor %}
          <div class="swiper-slide">
            <div class="card border-0 prosCard w-100 p-4 " style="background: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), radial-gradient(322.31% 126.18% at 50% -26.18%, rgba(255, 255, 255, 0) 0%, rgba(251, 118, 118, 0.2) 15.64%, rgba(207, 57, 220, 0.6) 33.24%, #5A54F5 64.64%);
            ">
              <div class="card-footer mt-auto bg-transparent border-0 text-white Title_1_eng lh-lg">{% block x3 %}CN.AI의 합성데이터 <br />
                솔루션이 궁금하다면{% endblock %}</div>
            </div>
          </div>
        </div>
      </div>


      <div class='mt-5'>
        <button id="" type="button" class='journeyPrev bg-transparent border-0'><img
            src='/img/icon/04 arrow-left-circle.png' class='btn-sm-1'></button>
        <button id="" type="button" class='journeyNext bg-transparent border-0'><img
            src='/img/icon/05 arrow-right-circle.png' class='btn-sm-1'></button>
      </div>

    </section>

    <p class='text-center Gray_3 SubTitle_1 pb-5' style='margin-top: 35vh;'>
      How it work
    </p>
  </div>




<div class="swiper ganSwiper" style="
height: 70vh;
">
  <div class="swiper-wrapper">

    {% for i in range(4,6) %}

    <div class="swiper-slide ">
      <div class="card rounded-0 border-0 w-100 ">
        <img src="/img/3.1/{{ say1[i]['num'] }}.png" class="" alt=" {{ say1[i]['title']}}">
        <div class="card-img-overlay d-flex flex-column p-md-5">

      <div class="row gx-0 justify-content-between h-100">
        <div class="col-md-6 col-12 Gray_5 offset-md-2 text-white ">
          <p class="Title_1 mb-0">{% block x4 %}합성 데이터를 만들어 내는 GAN{% endblock %}</p>
          <p class="Body_1">(Generative Adversarial Network, 적대적생성신경망)</p>
        </div>
        <div class="col-md-5 col-12 Gray_5 offset-md-6 text-white align-self-center">
          <p class="Title_1" style="font-size:6rem;">{{ say1[i]['title']}}</p>
          <p class="Body_1">{{ say1[i]['des']}}</p>
        </div>
      </div>

      </div>
      </div>
    </div>

    {% endfor %}
  </div>



  <div class="" style="bottom:7vh; z-index:2">
    <div class="swiper-pagination text-start offset-md-2"></div>
  </div>
</div>



<section class='bgGray0'>

  <div class='text-center' style='padding-top: 36vh;'>
    <p class='Gray_3 SubTitle_1'>Our Use Cases</p>
    <p class='text-white Title_1_eng my-5 pb-5'>{% block x5 %}Medical 의료 분야{% endblock %}</p>
  </div>

  <div class='container'>
    <div class='row g-5'>
      <div class="col-12">
        <div class="card rounded-0 border-0 text-white">
          <img src="/img/3.1/5.png" class="" alt="...">
          <div class="card-img-overlay d-flex flex-column p-md-5">
            <div class="card-body"></div>

            <div class="mt-auto Title_1 text-white mt-auto">{% block x6 %}비임상 병리 데이터{% endblock %}</div>
          </div>
        </div>
      </div>
      <div class='col-6'>
        <div class="card rounded-0 border-0 text-white">
          <img src="/img/3.1/6.png" class="" alt="...">
          <div class="card-img-overlay d-flex flex-column p-md-5">
            <div class="card-body"></div>
            <div class="mt-auto Title_1 text-white mt-auto">{% block x7 %}X-ray 데이터 생성{% endblock %}</div>
          </div>
        </div>

      </div>

      <div class='col-6'>
        <div class="card rounded-0 border-0 text-white">
          <img src="/img/3.1/7.png" class="" alt="...">
          <div class="card-img-overlay d-flex flex-column p-md-5">
            <div class="card-body"></div>
            <div class="mt-auto Title_1 text-white mt-auto">{% block x8 %}위암 영상의료 데이터 생성{% endblock %}</div>
          </div>
        </div>

      </div>
    </div>


    <p class='text-center Title_1_eng pb-5 text-white' style="margin-top:36vh ;">
      {% block x9 %} IT Industry 산업 분야{% endblock %}
    </p>
    <div class='row g-5'>
      <div class="col-12">
        <div class="card rounded-0 border-0 text-white">
          <img src="/img/3.1/8.png" class="" alt="AI human">
          <div class="card-img-overlay d-flex flex-column p-md-5">
            <div class="card-body"></div>

            <div class="mt-auto Title_1 text-white mt-auto">AI Human</div>
          </div>
        </div>
      </div>
      <div class='col-6'>
        <div class="card rounded-0 border-0 text-white">
          <img src="/img/3.1/9.png" class="" alt="Deepfake">
          <div class="card-img-overlay d-flex flex-column p-md-5">
            <div class="card-body"></div>
            <div class="mt-auto Title_1 text-white mt-auto">Deepfake</div>
          </div>
        </div>

      </div>

      <div class='col-6'>
        <div class="card rounded-0 border-0 text-white">
          <img src="/img/3.1/10.png" class="" alt="Inpainting">
          <div class="card-img-overlay d-flex flex-column p-md-5">
            <div class="card-body"></div>
            <div class="mt-auto Title_1 text-white mt-auto">Inpainting</div>
          </div>
        </div>

      </div>
    </div>

    <div style='padding-bottom: 36vh;'>
      <p class='text-center Title_1_eng pb-5 text-white' style="margin-top:36vh ;">
        {% block x10 %} Automotive 자율주행{% endblock %}
      </p>

      <div class="card rounded-0 border-0 text-white">
        <img src="/img/3.1/11.png" class="" alt="Tesla">
        <div class="card-img-overlay d-flex flex-column p-md-5">
          <div class="card-body"></div>
          <div class="mt-auto Title_1 text-white mt-auto">{% block x11 %}자율 주행 데이터 생성{% endblock %}</div>
        </div>
      </div>
    </div>
  </div>


</section>




{% endblock %}

{% block fB %}mailto:contact@cnai.ai{% endblock %}
{% block title %}CN.AI의 솔루션에 대한 상담이 필요하다면{% endblock %}
{% block btn %} CONTACT US {% endblock %}


{% block localScript %}

<script>


  var swiper = new Swiper(".ganSwiper", {
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    effect: 'fade',
    fadeEffect: {
      crossFade: true
    },

    slidesPerView: 1,
    spaceBetween: 0,
    
  });

  var swiper = new Swiper(".mySwiper", {

    slidesPerView: 1,
    spaceBetween: 20,
    // centeredSlides: true,
    navigation: {
      prevEl: ".journeyPrev",
      nextEl: ".journeyNext"
    },
    breakpoints: {
      640: {
        slidesPerView: 3,
        spaceBetween: 20
      }
    }
  });
</script>


{% endblock %}